<div>
  <div *ngIf="step === 'LOADING'" class="d-flex custom-flex-container w-100">
    <div class="justify-content-center align-self-center mx-auto">
      <div class="text-center">
        <img src="../../../assets/loading.gif" alt="Image de chargement" width="80" height="80">
        <br>
        Chargement en cours...
      </div>
    </div>
  </div>

  <div *ngIf="step === 'WAITING_FOR_PARTICIPANTS'" class="d-flex custom-container mx-3 mx-md-0">
    <div class="col-12">
      <div class="mt-5 mb-2 text-center">
        <h3>Pour participer à la présentation</h3>
        <br>
        <h4>Connectez vous à l'adresse : <a [href]="frontal_apprenant_base_url" target="_blank">{{ frontal_apprenant_base_url }}</a></h4>
        <br>
        <h4 class="mb-5">Saisissez le code : {{ id_session_pad }} ou scannez le QRCode</h4>
        <qrcode *ngIf="qrcode_data" [qrdata]="qrcode_data" [size]="350" [level]="'M'" class="qrcode-centered"></qrcode>
        <button class="btn btn-primary mt-4 px-4 py-4" (click)="sessionStart()">Démarrer la session</button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'MEDIA'" class="container-fluid px-0 d-flex flex-column" style="height: calc(100vh - 72px)">
    <div class="my-1 mx-2">
      <h3 class="text-center">{{ question.titre }}</h3>
    </div>

    <div *ngIf="question && question.media && question.media.type === 'TEXT'">{{ question.media.url }}</div>
    <div *ngIf="question && question.media && question.media.type === 'IMAGE'">
      <img [src]="question.media.url" alt="Impossible de charger l'image...">
    </div>
    <div *ngIf="question && question.media && question.media.type === 'AUDIO'">
      <iframe [src]="question.media.url | safeUrl"></iframe>
    </div>
    <div *ngIf="question && question.media && question.media.type === 'VIDEO'" class="w-100" style="width: 100%; flex-grow: 1">
      <iframe [src]="question.media.url | safeUrl" class="py-0 my-0 ml-2" style="width: calc(100% - 1rem);height: calc(100% - 50px)"></iframe>
      <button class="btn btn-primary my-1 mr-2 float-right" style="max-height: 50px" (click)="skipMedia()">Suivant</button>
    </div>
  </div>

  <div *ngIf="step === 'QUESTION'" class="container-fluid px-0 d-flex flex-column" style="height: calc(100vh - 72px)">
    <div class="d-flex justify-content-center align-items-center flex-column" style="flex-grow: 1">
      <h3 class="w-100 text-center mb-4">{{ question.titre }}</h3>
      <br>
      <div class="h4 w-100 text-center" *ngIf="endTimestamp - currentTimestamp | trunc">
        Temps restant : {{ endTimestamp - currentTimestamp | trunc }} secondes
      </div>
    </div>
    <div>
      <button class="btn btn-primary my-1 mr-2 float-right" style="max-height: 50px" (click)="skipQuestion()">Suivant</button>
    </div>
  </div>

  <div *ngIf="step === 'STATS'" class="mx-auto" style="width: 80%;max-height: calc(100vh - 72px)">
    <h3 class="w-100 text-center">Statistiques des réponses</h3>
    <canvas baseChart
            *ngIf="displayStats"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
    <div *ngIf="!displayStats" class="text-center">
      <img src="../../../assets/loading.gif" width="80" height="80">
      <br>
      Chargement en cours...
    </div>
    <h3 class="w-100 text-center" *ngIf="session && session.config_affichage_classement">Top 5 des meilleurs scores</h3>
    <div *ngIf="session && session.config_affichage_classement">
      Participant_1<br>
      Participant_2<br>
      Participant_3<br>
      Participant_4<br>
    </div>
    <div>
      <button class="btn btn-primary my-1 mr-2 float-right" style="max-height: 50px" (click)="goToNextSlide()">Suivant</button>
    </div>
  </div>

</div>
