.bg-login-custom {
  background: url("/../../assets/background.jpg");
  background-size: cover;
}

/*
** Style des inputs en erreurs
*/
input.form-control.ng-invalid.ng-touched, select.form-control.ng-invalid.ng-touched {
  border-color: red;
}
