<div class="d-flex container text-center py-4" style="height: calc(100vh - 72px);">
  <div class="justify-content-center align-self-center mx-auto">
    <h5>Selectionnez le type de statistiques à consulter</h5><br>
    <button class="btn btn-primary mx-1 my-1 col col-md-5" routerLink="../statistiques/classes" style="width: 290px">
      Voir les statistiques de réponses<br>
      par session et par classes<br>
      <i class="fas fa-chart-pie"></i>
    </button>
    <button class="btn btn-primary mx-1 my-1 col col-md-5" routerLink="../statistiques/eleves" style="width: 290px">
      Voir les statistiques des élèves en difficultées<br>
      <i class="fas fa-chart-pie"></i>
    </button>
  </div>
</div>
