<div>
  <nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-dark">
    <a class="navbar-brand text-white" routerLink="/">EFILP - participation</a>
    <button class="navbar-toggler" (click)="mobileMenuOpened = !mobileMenuOpened" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" [class.show]="mobileMenuOpened">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link">Score : {{ score }}</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="username">
        <li class="nav-item dropdown" (click)="userDropdownOpened = !userDropdownOpened" [class.show]="userDropdownOpened">
          <a class="nav-link dropdown-toggle" href="javascript:">
            Pseudonyme : {{ username || 'Aucun pseudonyme' }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" [class.show]="userDropdownOpened" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/">Quitter la session</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div *ngIf="step === 'LOADING'" class="d-flex w-100" style="height: 100vh">
    <div class="d-flex justify-content-center align-self-center mx-auto">
      <div class="text-center">
        <img src="../../../assets/loading.gif" alt="Image de chargement" width="150" height="150">
        <br>
        Chargement en cours...
      </div>
    </div>
  </div>

  <div *ngIf="step === 'WAITING_USER_INPUT_REQUIRED'" class="d-flex w-100" style="height: 100vh">
    <div class="d-flex justify-content-center align-self-center mx-auto">
      <div class="text-center">
        <img src="../../../assets/loading.gif" alt="Image de chargement" width="150" height="150">
        <br>
        <span class="d-block mb-4">Attente de participation à la session...</span><br>
        <div *ngIf="top_5 && top_5.length > 0 && session && session.config_affichage_classement" class="w-100">
          <h3>TOP 5 des meilleurs scores</h3>
          <span *ngFor="let participant of top_5; let i = index" class="d-block w-100 text-center">{{ i + 1 }}) {{ participant.username }}: {{ participant.score }} bonne(s) réponse(s)</span>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="step === 'ASK_INFO_PARTICIPANT'" class="d-flex w-100 vh-100">
    <div class="d-flex justify-content-center align-self-center mx-auto">
      <form [formGroup]="formCollectParticipant" (submit)="onSubmitCollectParticipant()">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" formControlName="nom" id="nom" maxlength="255">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="prenom">Prénom</label>
            <input type="text" class="form-control" formControlName="prenom" id="prenom" maxlength="255">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Participer à la session</button>
      </form>
    </div>
  </div>

  <div *ngIf="step === 'ASK_USERNAME'" class="d-flex w-100 vh-100">
    <div class="d-flex justify-content-center align-self-center mx-auto">
      <form [formGroup]="formCollectUsername" (submit)="onSubmitCollectUsername()">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="username">Saisissez un pseudo</label>
            <input type="text" class="form-control" formControlName="username" id="username" maxlength="25">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Participer à la session</button>
      </form>
    </div>
  </div>

  <div *ngIf="step === 'MEDIA'" class="container-fluid px-0 d-flex flex-column" style="height: calc(100vh - 72px)">
    <div class="my-1 mx-2 mb-4">
      <h3 class="text-center">{{ question.titre }}</h3>
    </div>

    <div *ngIf="question && question.media && question.media.type === 'TEXT'" style="flex-grow: 1">
      <div class="h4 mx-3" style="height: calc(100% - 50px)">{{ question.media.url }}</div>
    </div>
    <div *ngIf="question && question.media && question.media.type === 'IMAGE'" class="mh-100" style="min-height: 350px;flex-grow: 1">
      <div style="height: calc(100% - 50px)">
        <img [src]="question.media.url" class="d-block mx-auto" alt="Impossible de charger l'image..." style="max-height: 100%;min-width: 350px; max-width: 100%">
      </div>
    </div>
    <div *ngIf="question && question.media && question.media.type === 'AUDIO'" class="w-100" style="flex-grow: 1">
      <div class="h4 mx-3" style="height: calc(100% - 50px)">Audio en cours de diffusion par le professeur</div>
    </div>
    <div *ngIf="question && question.media && question.media.type === 'VIDEO'" class="w-100" style="width: 100%; flex-grow: 1">
      <iframe [src]="question.media.url | safeUrl" class="py-0 my-0 ml-2" style="width: calc(100% - 1rem);height: calc(100% - 50px)"></iframe>
    </div>
  </div>

  <div *ngIf="step === 'QUESTION'" class="container-fluid px-0 d-flex flex-column" style="height: calc(100vh - 72px)">
    <div class="d-flex justify-content-center align-items-center flex-column" style="flex-grow: 1">
      <h3 class="w-100 text-center mb-4">{{ question.titre }}</h3>
      <br>
      <div class="h4 w-100 text-center" *ngIf="endTimestamp - currentTimestamp | trunc">
        Temps restant : {{ endTimestamp - currentTimestamp | trunc }} secondes
      </div>
      <div class="container">
        <button type="button" *ngFor="let reponse of question.reponses" [disabled]="disableResponses" class="btn btn-dark mx-2 my-2 btn-block" (click)="onAnswerToQuestion(reponse)">{{ reponse.nom }}</button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'FINAL_TOP_5'" class="d-flex w-100" style="height: calc(100vh - 72px)">
    <div class="d-flex justify-content-center align-self-center mx-auto">
      <div class="text-center">
        <h3>TOP 5 des meilleurs scores</h3>
        <div *ngIf="top_5 && top_5.length > 0" class="w-100">
          <span *ngFor="let participant of top_5; let i = index" class="d-block w-100 text-center">{{ i + 1 }}) {{ participant.username }}: {{ participant.score }} bonne(s) réponse(s)</span>
        </div>
        <br>
        <button class="btn btn-dark px-2 py-4" routerLink="/">Quitter la session</button>
      </div>
    </div>
  </div>
</div>
