<div class="d-flex min-vh-100 bg-login-custom" style="background-color: #9db6c0">
  <form
    [formGroup]="formLogin"
    (submit)="onSubmitFormLogin()"
    class="bg-white col-11 col-sm-9 col-md-6 col-lg-4 mx-auto px-2 py-2 my-4 justify-content-center align-self-center rounded"
    method="post">
    <h4 class="text-center">Connexion à EFILP</h4>

    <div *ngIf="formError">
      <label class="text-danger" *ngIf="formError.reason === 'BAD_CREDENTIALS'">Erreur : mauvais nom d'utilisateur ou mot de passe</label>
      <label class="text-danger" *ngIf="formError.reason === 'UNKNOWN_ERROR'">Une erreur interne est survenue, réessayez ulterieurement</label>
    </div>

    <div class="form-group">
      <label for="username" class="sr-only">Nom d'utilisateur</label>
      <input type="text" class="form-control" formControlName="username" id="username" placeholder="nom d'utilisateur">
    </div>
    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="mot de passe">
    </div>

    <a routerLink="../registration" class="d-block my-3">
      Vous n'avez pas de compte ?
    </a>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary" [disabled]="isLoading">
        <span *ngIf="!isLoading">Connexion</span>
        <img *ngIf="isLoading" src="../../../assets/loading.gif" width="50" height="50" alt="Chargement en cours...">
      </button>
    </div>
  </form>
</div>
