<div class="modal-header">
  <h4 class="modal-title">Créer un QCM</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formAjoutQCM" (submit)="onSubmitAjouterQCM()">
  <div class="modal-body">

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nom">Nom <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="nom" id="nom" maxlength="255">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="isLoading">Créer</button>
    <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="activeModal.dismiss('close-btn')">Annuler</button>
  </div>

</form>
