<div class="container my-2">
  <h3>Informations personelles</h3>
  <form [formGroup]="formEditionInformationsPersonelles" (submit)="onSubmitInformationsPersonelles()">
    <div *ngIf="formEditionInformationsPersonelles.controls.username.errors && formEditionInformationsPersonelles.controls.username.errors.usernameAlreadyExist">
      <label class="text-danger">Impossible de mettre à jour les informations personelles car le nouveau nom d'utilisateur et déjà utilisé</label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Nom d'utilisateur<span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="username" id="username" maxlength="25">
      </div>
    </div>
    <div class="form-row d-none d-md-block">
      <div class="col-md-6"></div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nom">Nom<span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="nom" id="nom" maxlength="45">
      </div>
      <div class="form-group col-md-6">
        <label for="prenom">Prénom<span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="prenom" id="prenom" maxlength="45">
      </div>
    </div>
    <button type="submit" [disabled]="isLoading" class="btn btn-primary fixed-size">Modifier les informations</button>
  </form>
  <br>
  <h3>Changer le mot de passe</h3>
  <form [formGroup]="formChangementMotPasse" (submit)="onSubmitPasswordChange()">
    <div *ngIf="formChangementMotPasse.controls.currentPassword.errors?.invalidCurrentPassword">
      <label class="text-danger">Le mot de passe actuel est invalide</label>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="current-password">Mot de passe actuel<span class="text-danger">*</span></label>
        <input type="password" class="form-control" formControlName="currentPassword" id="current-password" maxlength="32">
      </div>
    </div>
    <div class="form-row d-none d-md-block">
      <div class="col-md-6"></div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="new-password">Nouveau mot de passe<span class="text-danger">*</span></label>
        <input type="password" class="form-control" [class.is-invalid]="formChangementMotPasse.controls.newPassword.invalid && formChangementMotPasse.controls.newPassword.touched" formControlName="newPassword" id="new-password" maxlength="32">
        <div *ngIf="formChangementMotPasse.controls.newPassword.errors && formChangementMotPasse.controls.newPassword.errors.minLength !== null" class="invalid-feedback">
          Le mot de passe dois faire au moins 6 caractères
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="confirmation-password">Confirmation du mot de passe<span class="text-danger">*</span></label>
        <input type="password" class="form-control" [class.is-invalid]="formChangementMotPasse.controls.confirmationPassword.invalid && formChangementMotPasse.controls.confirmationPassword.touched" formControlName="confirmationPassword" id="confirmation-password" maxlength="32">
        <div *ngIf="formChangementMotPasse.controls.confirmationPassword.errors && formChangementMotPasse.controls.confirmationPassword.errors.minlength && formChangementMotPasse.controls.confirmationPassword.errors.minlength.requiredLength > formChangementMotPasse.controls.confirmationPassword.errors.minlength.actualLength" class="invalid-feedback">
          Le mot de passe dois faire au moins 6 caractères
        </div>
        <div *ngIf="formChangementMotPasse.controls.confirmationPassword.errors && formChangementMotPasse.controls.confirmationPassword.errors.passwordsNotMatching === true" class="invalid-feedback">
          Le mot de passe et sa confirmation ne correspondent pas
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="isLoading" class="btn btn-primary fixed-size">Modifier le mot de passe</button>
  </form>
  <br>
  <h3>Suppression du compte</h3>
  <button type="button" [disabled]="isLoading" class="btn btn-danger fixed-size" (click)="supprimerProfesseur()">Supprimer le compte</button>
</div>
