<div class="modal-header">
  <h4 class="modal-title">Confirmer la suppression</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Souhaitez-vous vraiment supprimer cette classe ?<br>
  <strong>Attention :</strong> toutes les statistiques ainsi que les participants qui y sont asociés seront supprimés aussi.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="supprimerClasse()" [disabled]="isLoading">Supprimer</button>
  <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="activeModal.dismiss('close-btn')">Annuler</button>
</div>
