<div class="modal-header">
  <h4 class="modal-title">Confirmer la suppression de votre compte</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Souhaitez-vous vraiment supprimer votre compte ?<br>
  <strong>Attention :</strong> toutes les données liées à votre compte seront immédiatement supprimées, cette procédure est irréversible.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="supprimerProfesseur()" [disabled]="isLoading">Supprimer</button>
  <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="activeModal.dismiss('close-btn')">Annuler</button>
</div>
