<div class="text-center my-4 mx-auto container">
  <h1 class="mb-4">Bienvenu sur EFILP</h1>
  <form [formGroup]="formCodeConnectionParticipant" (submit)="onSubmitConnectionSession()">
    <div class="form-row justify-content-center align-self-center">
      <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <label for="code" class="h4">Saisissez un code de session</label>
        <input type="text" class="form-control" formControlName="code" [class.is-invalid]="formCodeConnectionParticipant.controls.code.invalid && formCodeConnectionParticipant.controls.code.touched" id="code">
        <div *ngIf="formCodeConnectionParticipant.controls.code.errors && formCodeConnectionParticipant.controls.code.errors.badSession === true" class="invalid-feedback">
          Le code de session est incorrect
        </div>
        <div *ngIf="formCodeConnectionParticipant.controls.code.errors && formCodeConnectionParticipant.controls.code.errors.sessionClosed === true" class="invalid-feedback">
          Cette session est fermée
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-dark" style="width: 177.9837px">Valider le code</button>
  </form>
  <hr>
  <br>
  <span class="h4 mb-2">Ou scannez un QRCode</span>
  <br>
  <button type="button" class="btn btn-primary px-2 py-2 btn-dark" style="width: 177.9837px" routerLink="../qrcode">Scanner un QRCode</button>
</div>
