* {
  font-family: 'Roboto', sans-serif;
}

.cdk-drag-dragging {
  display: none !important;
}

.cdk-drag.cdk-drag-preview.cdk-drag-animating:not(:last-child) {
  display: none !important;
}

/*
** Toaster bugfix
*/
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}

/*
 * Centrer le QRCode
 */

qrcode.qrcode-centered img {
  margin-left: auto;
  margin-right: auto;
}
